*.4ct
*.4tc
*.aux
*.bbl
*.blg
*.css
*.dvi
*.haux
*.hidx
*.hind
*.html
*.htoc
*.idv
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.mk
*.out
*.pdf
*.swp
*.swo
*.tid
*.tin
*.tmp
*.tms
*.toc
*.xref

*.*~

*.xmpi

sources/*.pyc
